html:has(.toggle__checkbox:checked) {
    --color-dark-green: #42959b;
    --color-background: var(--color-black);
    --color-text: var(--color-white);
    --color-box-img: var(--color-dark-green);
    --color-button-bg: var(--color-dark-green);
    --color-section-background: var(--color-black);
    --color-input-border: var(--color-white);
  }
  html:has(.toggle__checkbox:checked) .contact__social {
    color: var(--color-white);
  }